<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <payment>
      <FooPayPOD>
        <active>1</active>
        <payment_action>authorize</payment_action>
        <model>Codelegacy\FooCode\Model\FooPayPOD</model>
        <title>Foo Pay POD</title>
        <order_status>pending_payment</order_status>
      </FooPayPOD>
    </payment>
    <carriers>
      <foocode_shipping>
        <active>1</active>
        <sallowspecific/>
        <model>Codelegacy\FooCode\Model\FoocodeShipping\Carrier</model>
        <price>5.00</price>
        <title>FooCode Shipping</title>
        <specificerrmsg>Not able to load shipping cost.</specificerrmsg>
      </foocode_shipping>
    </carriers>
  </default>
</config>
