<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="checkout_submit_all_after">
    <observer
        name="codelegacy_foocode_salesorderplaceafterobserver_observer"
        instance="Codelegacy\FooCode\Observer\SalesOrderPlaceAfterObserver"/>
  </event>
</config>
